body{
    background-color: black;
}

main{
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    color: white;
}