body{
    background-color: black;
    max-height: 100vh;
}

main{
    margin: auto;
}

h1{
    text-align: center;
    color: white;
}

img{
    display: block;
    margin: auto;
    max-width: 100%
}

